/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------------- */
/* general */
.left {
    float: left;
}
.right {
    float: right;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 38px;
    padding: 20px 0;
}   
.link {
    padding: 20px 0;
    font-size: 28px;
} 
.link a {
    text-decoration: none;
    margin-left: 20px;
    color: black;

}
.backgroundheader {
    background: rgb(134, 34, 27);
}
.clearfix::before, .clearfix::after {
    content: "";
    display: block;

}
.lakeheader {
    width: 600px;
}
.clearfix::after{
    clear: both;
}
h2 {
    font-size: 28px;
    padding: 20px 0;
}
p {
    text-align: initial;
    word-spacing: 3px;
    line-height: 1.5;
}
.backgroundsection {
    background-color:  rgb(252, 177, 172);
}
.footer {
    background: rgb(134, 34, 27);
    padding: 20px;
    color: #ffffff;
  }
  .nav-link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 24px;
    font-size: 24px;
  }